[2021-02-12 10:38] Nicd opened #2 "Tusk is not keila"
In the readme it's stated that the word in Finnish for an elephant's tusks is "keila", but I cannot find any source for this being true. Google Translate does think so, I guess because the name of [a fish called cusk or tusk](https://en.wikipedia.org/wiki/Cusk_(fish)) is keila in Finnish. If you translate the plural "tusks", it responds with the correct "syöksyhampaat" ("syöksyhammas" being the si

[2021-02-12 10:48] wmnnd commented on #2
Kiitos! I’m afraid my knowledge of Finnish is extremely limited, but I’m pretty confident this means *Thank you*, having heard it from Finnish musicians on stage :sweat_smile:

I will remove the incorrect wording from the README.

[2021-02-12 10:51] Nicd commented on #2
Oh I checked, syöksyhammas.io is still free. ;)

Or you could make it bowling themed! Anyway, good luck with your project ja terveisiä Suomesta. :)

[2021-02-12 10:52] #2 closed

[2021-02-12 11:41] mazz opened #3 "Feature Request: Mailgun Support"
Could you add support for mailgun.org?

[2021-02-12 16:09] Jcambass opened #4 "Usability, Password Input fields"
Some sender configurations use `password_input`, while this is good for security it makes it harder for users to understand if they have set a value or not.
![image](https://user-images.githubusercontent.com/3436381/107791714-8d493e00-6d54-11eb-9fb7-b0b7bb3b9e0a.png)

This together with the fact that one can set values in multiple tabs at the same time makes it hard for users to understand which c

[2021-02-12 18:00] #3 closed

[2021-02-12 18:05] wmnnd commented on #4
I agree it’s not quite ideal to present a blank field. But I would prefer not to expose the credentials once they’ve been entered into the system.

Maybe one solution could be to make the password fields optional when viewing/editing a `Sender` and requiring a checkbox for enabling them (Something like `[X] Change API Key`). What do you think?

[2021-02-12 18:46] Jcambass commented on #4
Jup I think we need something where the user explicitly says "ok I know this value is already set but let me reset it". This could also be an inline edit button in the field with an information tooltip or something along those lines.

This would cover both issues:
- Knowing that a value is set.
- Allowing to open the edit form without resetting the value directly.

One thing that it doesn't solve

[2021-02-17 09:37] Jcambass opened #9 "Sending Campaings to 0 Contacts results in Stuck Progress"
Currently, it's possible to send a campaign to 0 contacts. Doing this will result in the campaign being stuck in the `:preparing` stage forever.

![image](https://user-images.githubusercontent.com/3436381/108185003-1e7d3380-710c-11eb-9060-b1fa78dcf7de.png)

[2021-02-17 09:48] wmnnd commented on #9
Thanks for reporting this! I’ll fix it right away, then we should be ready to go for the 0.1.0 release.

[2021-02-17 13:20] #9 closed

[2021-02-19 21:03] wmnnd opened #10 "WYSIWYG Editor for Markdown emails"
Prosemirror has a [schema for graphically editing Markdown](https://prosemirror.net/examples/markdown/).

This editor should be added to the Campaign editor in order to allow non-technical users to create simple campaigns. It will make Keila more useful even without a full WYSIWG HTML editor.

The WYSIWYG editor should support the following features:

- [ ] Headings h1-h3
- [ ] buttons (h4 + link)

[2021-02-19 21:08] wmnnd opened #11 "Send later feature"
Instead of sending campaigns immediately, there should be an option to automatically send campaigns at a later date.

This should be implemented as an Oban scheduled job.

- [x] Implement `Mailings.campaign_deliver_later` with Oban scheduled job for sending
- [x] Implement interface for scheduling campaigns from campaign editor. Include option to select timezone.

[2021-02-19 21:18] wmnnd opened #12 "Allow customization of Markdown campaign template"
I think it would be a pragmatic approach to allow users to create modifications to the default Markdown template before implementing a fully-fledged templating system.

My idea would be a workflow like this:
- Templates page
- Create new template
- Editor with the following features:
  - Customize logo
  - Customize colors
  - Customize font

These changes could then be applied via the CSS parser.

[2021-02-20 16:18] wmnnd opened #13 "Add migration/seed release command"
Add two release commands:
- [ ] `init` to run the initial migrations and `seeds.exs`
- [ ] `migrate` to run migrations

[2021-02-20 17:17] wmnnd commented on #13
Implemented via 381033c156cc868775ff1457f9c2177b7e1ba840

[2021-02-20 17:17] #13 closed

[2021-02-20 17:20] wmnnd opened #14 "Admin user + admin panel"
Keila already has a group-based authorization system (`Keila.Auth`)

The first user should automatically be assigned an admin role in the `root` group.

Users with admin role should have access to a simple admin panel, allowing them to see a list of users.

[2021-02-20 17:22] wmnnd opened #15 "Automatically run migrations + setup admin user on first launch"
Many applications such as Postgres automatically create an admin user when the env variables `ADMIN_USER` and `ADMIN_PASSWORD` are set on first launch.

Keila should automatically run migrations (via `Keila.ReleaseTasks.init()`) and create an admin user when the env variables are set.

[2021-02-20 19:03] wmnnd opened #16 "Update Solid dependency"
Solid 0.7 now has the missing features from pentacent/solid and we can go back to the upstream version.

[2021-02-20 22:38] wmnnd opened #17 "Check handling of email addreses with special characters"
I just noticed on another project that `gen_smtp`/Swoosh threw errors when using email addresses with special characters.
It needs investigating how Keila can/should handle email addresses such as `äðç@example.com` or `foo@äðç.example.com` if both of these cases are considered even valid email addresses.

[2021-02-22 22:47] pascalwengerter opened #22 "Provide docker-compose configuration"
I just spent an awful amount of time today trying to get the provided `pentacent/keila` running on a private server, mostly due to a messy PostgreSQL setup.

Maybe a `docker-compose.yml` in the likes of the sketch below could be useful? Would be lovely to being able to "just" run `docker-compose run -d app` and be done with the setup 😎 happy to help with it, too!

[code]

[2021-02-22 22:50] pascalwengerter opened #23 "Possible conflict in MAILER environment variables"
The [setup guide](https://keila.io/docs/configuration) mentions `MAILER_HOST` and `MAILER_USER`, while the configuration seems to be searching for `MAILER_SMTP_HOST` and `MAILER_SMTP_USER` - see screenshot below.

@wmnnd happy to provide a fix/correct the docs myself if this turns out to be the case!

<img width="708" alt="Screenshot 2021-02-22 at 19 46 17" src="https://user-images.githubuserconte

[2021-02-22 22:51] wmnnd commented on #22
Sure, that might be a good idea. I’m using Docker Swarm mode, so the docker-compose file for that is slightly more complex.

Both on my dev machine and on app.keila.io I’m using `postgres:13-alpine` which seems to be pretty hassle-free :sweat_smile:

[2021-02-22 22:53] wmnnd commented on #23
You’re right!

Here is the offending incorrect doc (in the keila-web repository):
https://github.com/pentacent/keila-web/blob/3b13594db111920dedaf1e01062211e92752c3ff/content/docs/configuration.md

If you fix it over there, I’ll merge it right away 🙏.

[2021-02-22 22:53] #23 closed

[2021-02-22 22:59] pascalwengerter opened #24 "Improvement suggestions for setup guide"
Two things I've come across when trying to get the `pentacent/keila` Docker image running today:

1. I needed to create a SECRET_KEY_BASE environment variable myself. It would be nice if it was mentioned in the setup guide, since it's quite easily done with:

[code]

2. I am not sure if the DATABASE_URL environment variable needs the `@HOST` config parameter. In the docs you mention _URL following

[2021-02-22 23:07] wmnnd commented on #24
1. Correct. I didn’t include this in the setup guide because you’d have to have Phoenix installed in prod which is unlikely when running from a Docker image. So maybe something like this might be more useful: `head -c 32 /dev/urandom | base64`

2. Very correct! This is a mistake in the docs.

[2021-02-22 23:12] pascalwengerter commented on #24
1. Nice, yeah! I ended up installing Phoenix locally to test some things and could copy-paste the result, but yours is even better :)

2. Now I feel less bad for ultimatively failing at getting things running, haha! Could you provide more context in the docs how to handle the database connection? (I was a bit confused on where Phoenix would look for `localhost` given that it runs in a container an

[2021-02-22 23:21] wmnnd commented on #24
re 2) So the URL definitely needs to include a host. In my prod setup, both Keila and Postgres are in containers, in a shared network, so the URL looks something like this: `postgres://user:password@postgres/db`. (The schema is actually ignored by Ecto, it can be `postgres://`, `ecto://`, or `whatever://`).
On my dev machine I have Postgres running in a container and Keila locally, so since the Po

[2021-02-23 01:11] pascalwengerter opened #26 "Bright flash during page transitions"
Noticed this when navigating around the application locally: Everytime a link is clicked and the browser performs a (full) page transition, there's a tiny white flash screen for half a second - at least for me (Firefox, macOS, Darkmode).

I tried setting `html, body, main {background-color: black}` but that didn' work (since it's arguably a full page reload).

Perhaps Phoenix Liveview isn't fully

[2021-02-23 10:46] wmnnd commented on #24
I’ve added the new guidance both as a hint when running Keila (via 475b63a863858ad022ac681549b9d82b80c90282) and to the docs (via https://github.com/pentacent/keila-web/commit/d4ed230176bc26a8d33fd455a54fffa7f30cb97d). Thanks for bringing this up!

[2021-02-23 10:46] #24 closed

[2021-02-23 15:46] wmnnd commented on #15
Implemented via #18

[2021-02-23 15:46] #15 closed

[2021-02-23 15:57] wmnnd commented on #26
Where exactly are you getting these flashes? I’m not getting any, neither in dev nor in production. I tried it with Firefox and Chromium on Ubuntu, also with dark mode enabled.

[2021-02-23 16:27] Jcambass commented on #11
@wmnnd What's your take on using scheduled jobs vs using a periodic CRON job to deliver mails?

I first wanted to go for a CRON job solution but I wonder if it is already worth it to go that route.
I collected the following pros/cons:

**Scheduled Job**

Pros:
- Can be unique to make sure we don't send the campaign twice (already handled somewhat but still nice to have).
- Concurrency is limited b

[2021-02-24 00:04] wmnnd commented on #11
Thanks for the write-up!

I still like your suggestion of using a single source of truth (`deliver_at`) in combination with periodic checks whether a campaign should be sent. Oban supports CRON-style jobs, so this should also be pretty straightforward to implement. And an interval of once every minute or once every five minutes should not add too much overhead.
Since sending a campaign will always

[2021-02-24 07:00] Jcambass commented on #11
Yes I was mostly worried around to many concurrent checkout attempts of db connections but after checking the docs it indeed looks like ectos db pooling doed'nt have a wait-timeout so we just block until we get a connection.

One downside would still be that if we start a task for campaign A and we don't get the chance to deliver it (update `sent_at`) before the next periodic job is run, we will c

[2021-02-24 08:56] wmnnd commented on #11
If the cron worker operates in a different queue from the sending queue, then I’m not too worried about the scheduling jobs piling up. They will be able to quickly skip campaigns that are already being delivered and your implementation of locks gives us a strong guarantee of that.

I was imagining the worker to simply do something like this:

[code]

So the worker doesn’t care if a campaign is alr

[2021-02-24 11:32] crova commented on #17
So Keila accepts an email such as `äðç@example.com` and later when trying to deliver a message, Swoosh will complain about this address, is this correct?

If that's the case, we need to enforce whatever rule Swoosh has for email validation, within Keila. Is that the case?

[2021-02-24 11:50] pascalwengerter commented on #26
Okay that's weird. I get them everytime I navigate around the application (e.g. clicking items in the navbar), let me record it later and see if I can capture it on camera!

[2021-02-24 11:55] wmnnd commented on #17
Actually I haven’t tested this with Keila. This occurred with another project using Swoosh.

Keila only checks that emails contain an `@` character.

So we need to figure out the following:

- Do emails with special characters cause any problems at all?
- If so: Which emails should theoretically be valid? For example, I don’t know if special characters are allowed before the @. But there are inter

[2021-02-24 13:25] crova commented on #17
All right, thanks for the clarifications.
As for your questions:
* **Do emails with special characters cause any problems at all?** => I'll see if I can make some tests to check this assumption.
* **If so: Which emails should theoretically be valid? For example, I don’t know if special characters are allowed before the @. But there are internationalized domains with special characters and those ar

[2021-02-24 13:35] Jcambass commented on #17
Just to leave my 2cents:

I'm strongly against validating emails with anything beyond simply checking for an `@`.
My reasoning is the following:

If Keila needs to know that an email is valid then we should use email confirmation since it's to only way to guarantee that the email is valid in terms of semantics and functionality.

If we only have a dependency like Swoosh that only allows specific f

[2021-02-24 14:58] wmnnd commented on #17
I agree with validating just for the presence of the `@` (which is also what Keila is doing at the moment).

So what I would like to achieve is to 1) know how Keila behaves with emails that include special characters, 2) where any issues that may arise come from, and 3) consider whether there’s something we can do about it.

[2021-02-24 19:20] wmnnd commented on #14
Closed via #27 .

[2021-02-24 19:20] #14 closed

[2021-02-24 19:41] Jcambass commented on #11
I guess I'm not yet used to have the guarantees of OTP. Still on a larger scale it's not ideal to have tens of thousands processes fighting for resources like db connections just to noop later.

I guess we can use this naiv approach to start and extend it if ever needed. Maybe adding telemetry and structured logging would be helpful to see how the numbers look like in a production env.

Out of cur

[2021-02-24 21:30] wmnnd commented on #11
Yes, Telemetry sounds like a good idea! We could make use of the Phoenix Live Dashboard and display stats about the queues there.
And also yes to your other question, I am planning on offering a hosted version eventually. But until the point at which that instance would get tens of thousands of concurrent campaigns I think there’s more than enough time to add some optimizations :smile:

[2021-02-25 12:22] pascalwengerter commented on #26
@wmnnd [here](https://drive.google.com/file/d/1I5-yQ6_jK9TxSL-WTzxN2OP8qM8jbfHA/view?usp=sharing) we are! It doesn't seem to follow a clear rule though...

[2021-02-25 12:28] pascalwengerter opened #28 "Introduce PurgeCSS for Tailwind"
When checking if Webpack works on #26 I realized that the `../css/app.ass/` is ~4MB in size. This is due to Tailwind creating a lot of helper classes and can be optimized for production use via PurgeCSS.

Here's a [guide](https://pragmaticstudio.com/tutorials/adding-tailwind-css-to-phoenix), happy to take care of this eventually (unless someone else is quicker than me 🤓 )

[2021-02-25 12:43] wmnnd commented on #28
Will you do it if I assign this issue to you? :wink:

[2021-02-25 12:49] wmnnd commented on #26
Do you also get that in production, i.e. after compiling and digesting the assets?
It’s certainly not a LiveView problem because the pages in your clip aren’t live views, so you’re probably right to assume the issue is somewhere to be found within the Webpack config …

[2021-02-25 12:52] wmnnd commented on #26
There’s actually a topic from today on the Elixir Forum about a similar issue. They seem to be connecting it to LV so far but maybe a solution might come out of there: https://elixirforum.com/t/phoenix-liveview-raw-vs-css-styled-display/37783

[2021-02-25 13:17] wmnnd opened #29 "Add Precedence: Bulk header?"
A user on r/selfhosted [suggested](https://www.reddit.com/r/selfhosted/comments/lrjwlr/im_building_a_selfhosted_mailchimp_alternative/gop1zg7/) to add the `Precedence: Bulk` header to all campaigns sent with Keila.
The idea is that it stops services such as GMail from sending automated out-of-office replies.

However, [RFC 2076](https://tools.ietf.org/html/rfc2076) says this header is "Non-standar

[2021-02-25 13:20] pascalwengerter commented on #28
I will! Haha

At this stage of the project the 4 MB don't matter too much I guess (few users, caching etc), but definitely a quick win in my eyes! Maybe we can also shed off some more KBs with the fonts, let's see.

[2021-02-25 13:22] pascalwengerter commented on #26
Let's call it a bleeding edge issue, then? 😜

Haven't logged into my production instance yet due to lack of seeds, let me know once you've published a new Docker image and I'm happy to check it out there!

[2021-02-25 13:25] wmnnd commented on #26
The `0.2.0` docker image is already out. Maybe I should have sent a newsletter about that 😅

With your database already initialized, the seeds will also not run. So either you start with an empty database there or manually replicate the steps from `priv/repo/seeds.exs` after getting on IEx with the `remote` command.

[2021-02-25 20:40] #28 closed

[2021-02-26 09:55] crova commented on #17
Hello folks,

So, I tested a couple of emails with special chars (`äðç`, `éèëê`, `ûü`) and I can't seem to reproduce any issue for now.
They were all added on a valid email after the `+` sign (e.g.: `valid_email+äðç@gmail.com`) and they were delivered.
I used Gmail SMTP for sending.

I'm not sure how to test this against `domains with special characters (like `something@äðç.com`). If anyone has an

[2021-02-26 12:57] Jcambass commented on #11
@wmnnd Do you think we should allow users to reschedule an already scheduled campaign? I think it would be useful but it opens a can of worms since we can't guarantee that we didn't already schedule a job to deliver it but it hasn't been executed yet and therefore no `sent_at` is present yet. We can try to guard against this in the worker (by checking the `deliver_at` again) but I was wondering if

[2021-02-26 15:25] wmnnd commented on #11
Good question!
I think it should be possible to reschedule campaigns.

The most important thing in all cases is to avoid sending a campaign twice. This is already taken care of with database locking.

Now, rescheduling a campaign that the worker is in the process of preparing for sending out is certainly an edge case. I feel it might best be solved by the UI, e.g. by disabling the option to resche

[2021-02-26 16:21] Jcambass commented on #11
Blocking the UI can decrease the chance of it happening but not eliminating it. I was under the wrong impression that we set the `sent_at` in the oban worker but we actually do it inline when delivering a campaign, so there is a very tiny window where this situation of rescheduling but sending still occurs via the previous `deliver_at` could happen. So I think we're fine.

[2021-03-08 16:08] crova commented on #29
Mate, I checked headers for a number of providers I dealt with in the past:
* Mindbaz => sets the header
* Sendinblue => sets the header
* Get Response => sets the header
* Expert Sender => does not set the header
* Amazon SES => does not set the header
* ActiveCampagin => does not set the header
* MailChimp => doest not set the header

It's been a couple of months since I last used any of those s

[2021-03-09 19:31] wmnnd opened #35 "Update gen_smtp/OTP"
There’s a breaking change in the latest patch release of OTP that’s interfering with `gen_smtp`: https://github.com/erlang/otp/issues/4585

As soon as there is an update either of OTP or `gen_smtp`, we should implement it for Keila.

[2021-03-11 08:01] wmnnd commented on #29
Thanks for looking into this, @crova!

So my takeaway from your research would be to add the header. If Sendinblue sets the header, that suggests there is no major downside to it. And at the same time it might help making Keila a better citizen of the email world.

Wold you agree with that conclusion?

[2021-03-11 09:19] wmnnd commented on #11
Implemented via #32 + #34

[2021-03-11 09:19] #11 closed

[2021-03-11 11:47] wmnnd opened #36 "Import template links broken in prod"
In the Docker image, the import template files appear to be missing, resulting in a 404.

[2021-03-11 11:55] crova commented on #29
No worries @wmnnd, my pleasure.

I would agree with you. I couldn't find anything conclusive about this on the web (if it should be enforced or not). From what I could gather it does not really matter and there shouldn't be any issues with using it.

If anything, you could set the value for `list` instead of `bulk` just because the latter might get a bad rep. But again, from the RFCs and the few m

[2021-03-11 11:57] wmnnd opened #37 "Idea: Allow inline-editing on Contacts index"
This might be a nice feature for smaller lists that are maintained manually.

[2021-03-11 13:57] wmnnd commented on #29
Okay wonderful, then I’d say let’s go with `bulk`! Do you want to create a MR?

[2021-03-11 14:05] wmnnd opened #38 "Image & File Uploads"
Right now, Keila has no way of including files or images with emails.

Before we start working on this, I think we should clarify the following questions:

1. Do we want to support inlining images and email attachments?
2. Which types of storage should be supported?
3. Should Keila support bring-your-own-storage?
4. Should Keila support processing (i.e. cropping/resizing) images?
5. Can we rely on

[2021-03-11 14:11] wmnnd commented on #38
So my thinking is this:

1. No support for attachments and inlined images for 1.0.
2. Local file storage and maybe S3.
3. I don’t think it’s necessary to support bring-your-own-storage like we do for email senders. So one global storage configuration per instance should be enough.
4. I don’t see that as part of the MVP; it’s probably something we could add later once the templating system has a co

[2021-03-11 14:19] wmnnd commented on #38
P.S.: Maybe image resizing could also be handled client-side. It might be an option because with our default Markdown template, images wider than 600px make no sense.

[2021-03-11 14:23] Jcambass commented on #29
This sounds like it would be a good option to allow users to opt-out of this functionality if they have a particular reason to do so.
We can provide a default for what we think is right but providing escape hatches is always a good idea IMHO.

[2021-03-11 14:39] wmnnd commented on #29
I’m fine with adding a config option but I think it should be up to the instance admin to make that choice, so it should be a global configuration option. And I would default to enabling the header, so it should be something like `DISABLE_BULK_HEADER`.

[2021-03-11 14:45] Jcambass commented on #29
@wmnnd Yeah maybe I wasn't clear enough :) I think that it woul simply be an application config rather than a user changable per campain config.

[2021-03-15 15:26] #22 closed

[2021-03-29 00:12] wmnnd opened #42 "Shared SES Adapter"
When setting up an instance of Keila, you might not want to let users configure their own Senders. Instead, you might want to configure one or several globally available senders and let your users only configure some aspects about them. In order to solve this, I propose to:

## 1. Implement SharedSenders
`SharedSenders` are a new schema, very similar to the existing `Senders`. Unlike them, they ar

[2021-03-29 00:40] wmnnd commented on #42
Feedback is welcome, as always, but I want to start implementing this soon :rocket:

[2021-03-29 08:23] #16 closed

[2021-03-29 08:24] #36 closed

[2021-03-29 08:25] wmnnd commented on #35
Closed via #40

[2021-03-29 08:25] #35 closed

[2021-03-29 10:11] wmnnd commented on #12
Implemented via #39

[2021-03-29 10:11] #12 closed

[2021-03-29 10:13] wmnnd commented on #26
I haven’t been able to reproduce it locally and it doesn’t happen in the production deployment on app.keila.io, so I’m closing it for now. Should the issue manifest again, please feel free to reopen.

[2021-03-29 10:13] #26 closed

[2021-03-29 10:14] pascalwengerter commented on #26
Sounds reasonable to me! ;)

[2021-03-31 17:58] Jcambass opened #43 "Campaign Editor shows different Font than defined in Template"
During a very quick test of the template editor I noticed that the Campaign editor shows the wrong font uppon selecting a previously created template.

**Preview in Template Editor**

<img width="1035" alt="Screenshot 2021-03-31 at 19 55 34" src="https://user-images.githubusercontent.com/3436381/113189187-3394c880-925b-11eb-8685-caffa1b80ae0.png">

**Preview in Campaing Editor**

<img width="1035"

[2021-03-31 21:53] wmnnd commented on #43
It seems to be working fine here … could you share which font settings you chose and at which level (i.e. "Layout" vs "Content")?

![Screenshot_2021-03-31 Open Source Newsletter Tool · Keila](https://user-images.githubusercontent.com/7488303/113216084-1cb29e00-927c-11eb-8378-91d92a0bedcf.png)

[2021-04-27 07:07] wmnnd commented on #43
@Jcambass Were you able to reproduce the issue?

[2021-04-27 07:32] Jcambass commented on #43
@wmnnd I quickly checked again and wasn't able to reproduce it anymore. So very likely a local problem with my browser at the time. Feel free to close this :)

[2021-04-27 07:35] wmnnd commented on #43
Thanks for giving it another look!

[2021-04-27 07:35] #43 closed

[2021-04-27 12:35] wmnnd opened #46 "Upgrade Ecto to 3.6"
There should be no breaking changes affecting Keila in this new release of Ecto.

[2021-06-14 07:34] wmnnd opened #48 "Make system email configurable"
Right now, `hello@keila.io` is used in some instances for sending system emails. This should be configurable via an environment variable instead.

[2021-06-14 07:35] wmnnd commented on #29
Thanks everyone for contributing with your feedback. #45 has now been merged and adds the header with an option to disable it via an environment variable.

[2021-06-14 07:35] #29 closed

[2021-06-14 08:36] pascalwengerter commented on #48
Would you want to (re)use `MAILER_SMTP_USER` there or add a new, dedicated ENV var @wmnnd ?

[2021-06-14 08:39] wmnnd commented on #48
Good question! I think for now just using that would be sufficient :smiley:

[2021-06-16 10:28] wmnnd opened #50 "Add API for Contact health and bounces"
I think it makes sense to introduce a point-based system to determine whether a Contact is "healthy".
This is to avoid sending emails to outdated contacts and avoid misuse of Keila by spammers.

Here is my current idea:
- Sign-up with double-opt-in or Captcha receive a (permanent) health rating boost of five points
- Interacting with an email (click/open) (temporarily) improves health rating by on

[2021-06-21 06:07] #4 closed

[2021-06-23 10:39] wmnnd commented on #42
Implemented via #47 .

[2021-06-23 10:39] #42 closed

[2021-06-25 12:27] wmnnd opened #53 "Add Click Tracking"
There should be a new Context, `Keila.Tracking`.

This context should have the following functions:

- [x] `register_link(campaign_id, url)`
- [x] `track_click(recipient_id, link_id)`
- [x] `track_open(recipient_id)`

[2021-06-28 17:45] #46 closed

[2021-06-30 09:24] wmnnd commented on #53
Implemented via #54

[2021-06-30 09:24] #53 closed

[2021-06-30 09:25] wmnnd opened #55 "Add User-Agent filtering to open tracking"
Some email providers, specifically Gmail, use bots to access links in emails. These can trigger false opens.
https://www.gmass.co/blog/false-opens-in-gmail/

Keila should recognize these bots and filter them out.

[2021-06-30 15:07] wmnnd opened #56 "Allow arbitary order of Paddle webhooks"
Sometimes, `subscription_payment_succeeded` will be fired before `subscription_created`. This case should also be handled.

[2021-06-30 20:15] wmnnd opened #57 "Improve onboarding experience"
Right now, getting started with a new Keila account can be a little confusing. There should be an onboarding that explains
- What a project is
- What a sender is
- What a template is
- What a form is

[2021-07-02 13:44] #56 closed

[2021-07-02 13:49] #57 closed

[2021-07-02 16:34] wmnnd opened #61 "Improve compatibility with desktop Outlook + Windows Mail"
Outlook and Windows Mail are some of the world’s most popular email clients.

Right now, there are several severe display bugs with our version of the Cerberus theme:

- [ ]  Outlook 2019:
![3f6d5c2eab06](https://user-images.githubusercontent.com/7488303/124304388-e844cb80-db63-11eb-8394-835b09fd98db.jpeg)

- [ ] Windows Mail (Windows 10):

![f3c973105b42](https://user-images.githubusercontent.com

[2021-07-03 15:11] #61 closed

[2021-07-06 19:05] NoLooseEnds opened #63 "[Feature] Support for MJML?"
Have you thought about adding support for [MJML template language?](https://github.com/mjmlio/mjml)

[2021-07-08 02:05] NX211 opened #64 "/bin/sh Error when deploying Docker Container"
I'm running into an error when trying to deploy the docker image. I've tried building the image and deploying it on my local machine in a test env. Thanks for the help in advance. Love the project. Below is the log output from the default docker-compose.

[code]

[2021-07-08 10:13] wmnnd commented on #64
Thanks for reporting this issue, I will look into this right away.

[2021-07-08 10:29] #64 closed

[2021-07-08 10:30] wmnnd commented on #64
The build pipeline with an updated Dockerfile is now running and it the updated image should be online in a few minutes :smiley:

[2021-07-08 10:34] wmnnd commented on #63
I think adding MJML support would certainly be an interesting idea. Do you know of any good FLOSS WYSIWYG editors for MJML?

[2021-07-08 10:40] NoLooseEnds commented on #63
No, sorry. I don't know about any that let you edit in WYSIWYG on the fly.

All I've encountered is coding in mjml and providing a live preview, but I have not used it that much – but it was a very good experience when I did.

Maybe open an issue with mjml?

I found this: https://github.com/artf/grapesjs-mjml – not sure if you get anything from it.

[2021-07-13 19:16] wmnnd opened #65 "Warning about leaving editor pages"
When trying to leave the editor pages like the template or campaign editor and changes have been made, there should be a dialog warning about discarding progress.

[2021-07-13 19:20] wmnnd opened #66 "Fix Button + Button and Button + Headline spacing"
Right now, there is insufficient spacing between subsequent buttons and headlines:

![Screenshot from 2021-07-13 21-17-55](https://user-images.githubusercontent.com/7488303/125512088-3b92891a-8d2f-474e-9930-80fbd15e4194.png)

[2021-07-14 21:19] wmnnd opened #67 "Show Contacts stats"
There should be an overview of the number of Contacts plus a number of recent subscriptions.

The MVP doesn’t need to include historical data. A feature with daily aggregation of historical data could be added later.

[2021-07-16 09:28] Vinnpinn opened #68 "Get notifications for people that unsubscribed"
There should be some sort of info if a user unsubscribes. The current way only works well if they've signed themselves up for a newsletter. With no information if someone has unsubscribed from the newsletter it's a lot of work to filter them out if you have the same contact in multiple campaigns or if you want to mark that person as "no newsletter" in your customer database that lives outside of k

[2021-07-20 15:31] wmnnd commented on #68
Hey, thanks for giving Keila a try and for your suggestion!

I’ve actually been thinking about how to solve this issue. As you say, it’s specifically a problem when you have a list of contacts that you want to import and you want to avoid re-adding someone who has unsubscribed.

So what I’m planning to do now is this: When a contact unsubscribes, their email is still deleted from the database, but

[2021-07-24 14:06] Vinnpinn commented on #68
Hey, thank's for the reply. This would solve part of the issue and would probably work fine if one only ever used Keila and would never switch to something else or only collected e-mail adresses through keila.
However if anyone ever decided to switch to a diffrent system the would have issues with knowing who unsubscribed from newsletters. If you collect your E-Mail adresses from outside keila, e.

[2021-08-03 21:10] pascalwengerter commented on #65
IIRC we had a similar feature recently in https://github.com/owncloud/web/pull/4840

[2021-08-05 14:47] wmnnd commented on #68
There is now a PR addressing this, #69

[2021-08-05 14:47] wmnnd commented on #67
Implemented via #69

[2021-08-05 14:47] #67 closed

[2021-08-05 14:49] wmnnd commented on #50
#69 Is the first step towards implementing a slightly simpler version of this API.

[2021-08-05 14:49] wmnnd commented on #17
It looks like everything is working as expected, thanks for your input @crova :+1:

[2021-08-05 14:49] #17 closed

[2021-08-06 09:48] wmnnd commented on #66
Fixed via 1d5b5309f45e0485bba40050d5dd912e7296468d.

[2021-08-06 09:48] #66 closed

[2021-08-06 13:13] #50 closed

[2021-08-06 13:14] #68 closed

[2021-08-11 08:11] cb3inco commented on #64
I get this same error.

[2021-08-11 13:29] wmnnd commented on #64
@cb3inco Could you share a few more details of what exactly it is you were doing?

[2021-08-11 13:47] cb3inco commented on #64
Sure, should I just open a new issue?

[2021-08-11 14:26] wmnnd commented on #64
@cb3inco Yes, please :+1:

[2021-08-11 15:51] cb3inco opened #71 "Docker-Compose deployment fails with ERROR: Unknown command /bin/sh"
Using the example in the ops folder using the docker-compose.yml file, when trying to start the Keila container, I get the following error:

[code]

My docker-compose looks like this:

[code]
This is similar to this issue I think - https://github.com/pentacent/keila/issues/64 - what other details can I provide?

Note: Not actual key or smtp password.

[2021-08-12 05:50] wmnnd commented on #71
Is it possible you still have an outdated image in your Docker cache? Could you try running `docker-compose pull`?

[2021-08-12 06:55] cb3inco commented on #71
[code]

Did a pull and this is what I get.

[2021-08-12 07:05] cb3inco commented on #71
I also just used ``` docker image rm b70a7db149d6 ``` and re-pulled it. No change.

[2021-08-12 08:43] cb3inco commented on #71
Sorry another update. I ended up cloning the repo to my local linux box, and tried to build the container locally (never pulled the image from Docker Hub). It builds and runs as I would expect it. If I remove all images from my machine and then pull from Docker Hub, it results in the same issue listed above ```keila             | ERROR: Unknown command /bin/sh
keila exited with code 1 ``` - it wou

[2021-08-12 09:21] cb3inco commented on #71
Sorry I keep digging. It seems that per the issue #64 that you fixed the problem in v0.5.4, but when I review your github actions the build on Jul 8th failed for that version. So the broken version is still the 'latest' - v0.5.3. And there is no release listed for v0.5.4, though the repo has the correct fix, which is why it builds local.

https://github.com/pentacent/keila/actions/runs/1011300983

[2021-08-12 10:29] wmnnd commented on #71
You’re right, and I didn’t notice because I had manually tagged the image on my local machine. I think the error in the workflow was simply some incorrect quotes which should be fixed now. I’ll prepare a new release soon :smiley:

[2021-08-12 13:56] wmnnd commented on #71
Thanks for looking into this, @cb3inco, the latest release should have fixed the issue :partying_face:

[2021-08-12 13:56] #71 closed

[2021-08-13 05:43] cb3inco commented on #71
Works now! Thanks.

[2021-08-13 06:24] cb3inco opened #72 "Feature Requests and/or Questions"
I've been playing with Keila and really like it's simplicity and distraction free interface over that of tools like Mailchimp. My use case for using this tool is to host a newsletter service for our staff to send emails out to donors who support our organization. Is there any plans for the following:

- Allow SAML authentication and automatic account provisioning. I'm sure others would love facebo

[2021-08-13 06:33] cb3inco commented on #38
1. I think both attach and inline would be ideal
2. local and s3-compatible would be ideal - something configurable by the admin and its a either or option.
3.
4. Possibly basic editing or at least a warning if it's over a recommended size and the user can resize locally if needed.
5.

[2021-09-28 20:41] randomdudes opened #73 "Migrations didn't go well"
I have an issue with migrations. I have this message:
[code]

Anybody knows how to fix it or somebody have existing sql schema just to export into psql?

[2021-09-29 08:03] wmnnd commented on #73
Could you describe what exactly you’ve tried? Which version of Keila did you use, how did you run the migrations?

[2021-09-29 09:19] randomdudes commented on #73
I am using latest version.

On branch main
Your branch is up to date with 'origin/main'.

[2021-09-29 10:23] randomdudes commented on #73
It's latest I use main branch and build it myself. And I have same results if I run bin/keila or phx.server I got problem with migrations : oban_jobs table

[2021-09-29 11:05] randomdudes commented on #73
And of course keila debug info

`keila_1     | [error] GenServer {Oban.Registry, {Oban, {:plugin, Oban.Plugins.Cron}}} terminating
keila_1     | ** (Postgrex.Error) ERROR 25P02 (in_failed_sql_transaction) current transaction is aborted, commands ignored until end of transaction block
keila_1     |
keila_1     |     query: INSERT INTO "public"."oban_jobs" ("args","attempt","errors","max_attempts","

[2021-09-29 14:19] randomdudes opened #74 "Infinite loader"
How can I check why my campaign is infinetely loading and is not sending properly?

![image](https://user-images.githubusercontent.com/91569711/135287209-406502a8-65ce-4c80-84df-3d1daed647f1.png)

[2021-09-29 15:59] wmnnd commented on #74
Did you end up solving the issue with migrations in #73 ?

[2021-09-29 21:59] randomdudes commented on #74
Yes, it can be closed. I used your ops Dockerfiles and it worked better.

[2021-09-30 09:59] wmnnd commented on #73
Issue was resolved by user.

[2021-09-30 09:59] #73 closed

[2021-09-30 10:00] wmnnd commented on #74
This might indicate that you didn’t set up your mailer correctly. Are you getting any errors in the application log?

[2021-10-01 07:30] wmnnd opened #75 "Full API"
## Campaigns

`GET /api/v1/campaigns` - Fetch list of campaigns

`POST /api/v1/campaigns` - Create a new campaign
`GET /api/v1/campaigns/:id` - Fetch existing campaign
`PATCH /api/v1/campaigns/:id` - Update existing campaign

`POST /api/v1/campaigns/:id/actions/send` - Send existing campaign
`POST /api/v1/campaigns/:id/actions/schedule` - Schedule existing campaign

## Contacts
`GET /api/v1/contac

[2021-10-18 15:18] es9o opened #77 "[Feature Request] Support for base URL/subfolder reverse proxy"
I'm currently able to successfully proxy my instance of Keila via keila.mydomain.com, but I'd love to have the ability to use a subfolder (app.mydomain.com/keila) instead.

Is this something that could be considered in a future release?

[2021-10-19 22:45] pascalwengerter commented on #77
I'd like to give it a try, can't promise by when I can find the time though..

[2021-10-20 07:08] wmnnd commented on #77
@es9o Could you give the branch in #78 a try?

[2021-10-22 00:08] wmnnd opened #79 "Delete sent campaigns"
It should be possible to delete campaigns that have already been sent.

[2021-10-31 22:51] wmnnd opened #81 "Upgrade leex/eex templates to heex"
Phoenix 1.6 introduces heex templates which offer many advantages over (now deprecated) leex templates.

Changing all leex templates in Keila should be pretty straightfoward. The heex docs might also give ideas for possible performance improvements in some views:

https://hexdocs.pm/phoenix_live_view/0.16.4/assigns-eex.html

[2021-11-01 10:43] cb3inco opened #82 "[Question] How to access Admin Dashboard"
I'm a little confused as I'm seeing reference to an Admin Dashboard, but I'm not seeing it anywhere. My account was the first one but it doesn't seem i was given the admin role. I'm not seeing anything in the documentation either on how to even see who is the admin. Thanks for any help you can offer.

[2021-11-01 12:21] wmnnd commented on #82
The root account is created automatically when you start Keila for the first time. You can specify the root account user name with `KEILA_USER` and `KEILA_PASSWORD`.
If you don’t specify those variables, Keila will default to `root@localhost` and a default password; both will be printed in your logs.

[2021-11-01 12:29] wmnnd commented on #77
This feature has now been merged and released in Keila 0.6.2!

[2021-11-01 12:29] #77 closed

[2021-11-01 17:48] wmnnd opened #83 "Contact segmentation"
It should be possible to segment users by contact fields as well as interaction data with previous campaigns.

[2021-11-01 17:50] wmnnd commented on #72
Hey there, thanks for your questions and suggestions!

I think there are some very good suggestions in your post, just too many of a single GitHub issue, really :wink:

If you could open individual issues for the individual ideas, I think that would be very helpful!

To quickly address some of your points:

- Yep, I’m sure that would be nice, though it’s not necessarily a priority until 1.0 right

[2021-11-01 17:52] wmnnd opened #84 "Custom Contact fields"
It should be possible to create and add custom fields associated with each Contact.

[2021-11-02 02:52] cb3inco commented on #82
Thanks @wmnnd is the root account and password printed only once? If I reboot the container, I only get the following in the logs:

![image](https://user-images.githubusercontent.com/14948644/139778907-f1818084-0d95-4451-b71f-cae5d6a4f234.png)

Is there a way to retrieve this in the DB some how?

[2021-11-02 02:55] cb3inco commented on #82
Also, according to your documentation, the variables you mentioned in your comment are regarding the database configuration. Am I misunderstanding that? https://www.keila.io/docs/configuration

[2021-11-02 03:26] cb3inco commented on #82
As a follow-up. I've tried to set those variables, nothing seems to work. I've tried to reset the password and never received a reset password email for that 'admin' account.

[2021-11-02 07:50] wmnnd commented on #82
The admin account is only created when you start Keila for the first time, so if you’ve already started it before, it won’t be printed again.

Regarding the documentatoin, you’re right, it’s a bit confusing that those variables are listed under "DB". I’ve fixed that now :pray:

[2021-11-02 08:06] cb3inco commented on #82
Is there a way to retrieve or reset the password from the DB?

It seems if I try to set the variables after the first start up, it doesn't necessarily write over the root admin user / password. It seems I have to nuke my install and start over again?

[2021-11-02 08:42] wmnnd commented on #82
No need to nuke your instance!

You can log into the IEx shell for Keila. If you’re using Docker, then do it like this: `docker exec -it $CONTAINER_ID bin/keila remote`, otherwise just run `bin/keila remote`.

In that shell, you can change the password for your root user:
[code]

[2021-11-03 07:31] wmnnd opened #86 "Fix route for unhandled SES notifications"
Currently `webhook(conn, _)` throws a 500 error, returning `:ok` from Logger instead of `Plug.Conn`.

[2021-11-12 13:36] wmnnd commented on #84
This should be implemented via a `.data` property for each contact, storing arbitrary JSON data.

- [ ] Add `data` property in migrations
- [ ] Allow querying for custom data fields
- [ ] Allow import with data fields
- [ ] Allow merging of data fields on import

[2021-11-12 13:41] wmnnd commented on #83
- [ ] Add segment data entity
- [ ] Build UI for segment creation
- [ ] Allow sending campaigns to segments

[2021-11-12 21:35] wmnnd opened #87 "Allow updating existing contacts on import"
It should be possible to update existing contacts on import, i.e. merging/replacing custom data or updating first/last name.

[2021-11-13 08:59] wmnnd commented on #84
Implemented in #85

[2021-11-13 08:59] #84 closed

[2021-11-20 22:52] gbottari commented on #87
Hi, I'm interested in working on this issue if that's ok.

If I understand correctly, you need to check the database for existing contacts (by e-mail, I presume) and replace their infos (like first/last name). That logic would go into `Keila.Contacts.Import`, correct? Any tips would be welcome!

[2021-11-21 19:14] wmnnd commented on #87
Hey @gbottari, awesome, that would be very cool!

I think the import feature should by expanded with the following features:

1. Modify `Keila.contacts.Import.import_csv/2` to update existing entries with upserts (I think this would make sense as the default behavior)
2. Optionally: Add an option to `import_csv` that would allow for upserts to be disabled + a checkbox in the UI to reflect that
3.

[2021-11-26 10:34] wmnnd commented on #81
Implemented in #88

[2021-11-26 10:34] #81 closed

[2021-11-26 13:47] #83 closed

[2021-11-26 14:04] #86 closed

[2021-11-26 14:09] #79 closed

[2021-11-28 19:39] wmnnd opened #92 "Segment editor should correctly parse segments with custom data fields"
Currently, custom data fields can be added to a filter, but aren’t correctly converted back into form data after saving.

[2021-11-30 14:05] gbottari commented on #87
Hey @wmnnd! Me and @panoramix360 are working on this issue now. We figured that we could use Postgres' own upsert feature through Ecto (https://hexdocs.pm/ecto/Ecto.Repo.html#c:insert/2-upserts). What we ended up with is the following:

`Repo.insert(changeset, returning: false, on_conflict: {:replace_all_except, [:email, :project_id]}, conflict_target: [:email, :project_id])`

We'll also look into

[2021-12-06 16:16] wmnnd commented on #63
There are currently no immediate plans for adding MJML to Keila, so I’ll be closing this for now.

[2021-12-06 16:16] #63 closed

[2021-12-06 16:17] wmnnd commented on #82
Closing this because there has been no activity for a while. Feel free to reopen though :slightly_smiling_face:

[2021-12-06 16:17] #82 closed

[2021-12-08 20:22] #87 closed

[2021-12-09 13:04] panoramix360 opened #95 "Add DevContainer support"
I noticed that the project has a Dockerfile and docker-compose.yml, and was wondering if you guys know DevContainer from Microsoft?

Is a [tool](https://code.visualstudio.com/docs/remote/containers) to Visual Code that lets you develop inside a container, it's pretty neat.

To build/develop the project on my machine when contributing in the last PR I configured a devcontainer.json on the project t

[2021-12-10 13:59] panoramix360 commented on #92
Hi @wmnnd, me and @gbottari were looking into this issue just to see what needs to be done.

We already know that we need to implement a new variation of the function `filter_condition_to_form_data` to type "custom".

But we noticed after looking into code, that this issue is already "In Progress" on your Roadmap, do you need any help?

Maybe we can give it a shot if you didn't start the implement

[2021-12-10 16:25] wmnnd commented on #92
I’ve already fixed it in my local branch, I need to push it one of these days :joy:

[2021-12-10 19:58] #92 closed

[2021-12-14 10:18] wmnnd opened #96 "Delete user resulting in 404"
Deleting users from the admin user list currently results in a 404.

[2021-12-14 13:14] wmnnd commented on #75
This PR now includes APIs for managing Contacts, Campaigns, and Segments and I think it’s a good starting point. I would be very happy about some feedback @panoramix360 & @gbottari  :smiley:

[2021-12-14 13:18] wmnnd commented on #95
I think that’s a neat idea to make developing Keila even easier! Feel free to create a PR, including a note in `README.md`.

I would just want to make sure it’s clear that this is an *optional* way of developing the project and not required :+1:

[2021-12-14 18:39] panoramix360 commented on #95
Glad that you liked it!

I agree with you about this being optional.

I'll create the PR and change the README to include how to configure this :tada:

[2021-12-27 19:22] #96 closed

[2022-01-03 12:18] wmnnd opened #100 "Fix infinite reloads when trying to schedule campaign without sender"
Serializing the error changet causes an error which causes infinite reloads. The validation should happen inside of the LiveView instead of in a separate controller route.

[2022-01-03 12:40] #65 closed

[2022-01-03 14:02] #100 closed

[2022-01-13 14:26] wmnnd opened #101 "Only require SES Shared Sender revalidation when changing email address"

[2022-01-14 09:39] wmnnd opened #102 "Add confidence interval to click and open rates"
As suggested by @benfreu, we should add confidence intervals to click and open rates - at least to the global campaign-level ones.

[2022-01-14 09:40] wmnnd opened #103 "Add campaign data"
Campaigns, just like contacts, should allow for custom data in the shape of a `data` jsonb field.
This will allow the use of templates with Liquid to generate emails based on that data.

[2022-01-15 12:16] wmnnd opened #106 "Change onboarding regarding Senders"
Right now, the first onboarding step after creating a new project is setting up a sender.
This is a relatively high-barrier task (compared to creating forms, templates, contacts, etc), so it should be presented to new users later in the onboarding - potentially even after they have created their first campaign.

[2022-01-18 22:53] wmnnd opened #107 "Add rate-limiting to Senders"
Oban’s FLOSS version doesn’t allow to configure rate-limiting for queues, but it’s possible to use the [snoozing feature](https://hexdocs.pm/oban/Oban.Worker.html#module-snoozing-jobs) to implement rate-limiting with the help of another module like [ex_rated](https://github.com/grempe/ex_rated).

Rate-limits should be configurable per sender (or per shared sender) and be configured as `n` messages

[2022-01-21 22:26] 12nick12 opened #108 "This is pretty much like Mautic correct?"
If so how do they differ?

[2022-01-21 22:36] dpraul commented on #103
Very exciting to see this feature in the roadmap! Definitely going to follow this feature and product as you build it out. As you encouraged people to do, I just wanted to give my 2c on how this might be used in-practice.

We're currently using a lot of programmatic sugar around the MailChimp campaign data feature (via [their "editable areas" template language](https://templates.mailchimp.com/gett

[2022-01-22 16:45] wmnnd commented on #103
@dpraul Thank you so much for your input. This is exactly one of the use-cases I had in mind when designing this feature, so I hope you’ll find it useful once it’s been implemented!

[2022-01-22 16:48] wmnnd commented on #108
There’s currently no comparison sheet with Mautic, so I’m afraid I can’t give a comprehensive answer to your question. But you could always give Keila a try and find out for yourself :wink:

[2022-01-22 16:48] #108 closed

[2022-01-27 15:11] vinnpinn opened #109 "Overview of who opened the mail/ clicked on links"
Currently it's only possible to see who clicked on links or opened emails when going into your contacts and clicking on each contact individually. I think it would be useful if there was a list with anyone who opened the campaign and if they clicked on any links.

We've been using keila as an internal newsletter and this would help clarifying if anyone missed important information.

I've made an (

[2022-01-28 13:23] pascalwengerter commented on #109
I find this highly questionable from a privacy point of view, should (if even implemented) disabled by default, only enable-able via configuration and come with a notice/warning for contacts

[2022-01-28 13:42] Vinnpinn commented on #109
Well, this information is already being tracked and available, it's just "hidden". This would only make it more accessible. I think a toggle option would be important, but I'd say it's up to the user to decide what is stated in their GDPR and what is being agreed upon with customers or, in our case, employees.

Understandable if this won't be implemented though.

[2022-01-31 20:43] wmnnd commented on #109
Thanks @Vinnpinn for suggesting this feature and @pascalwengerter for pointing out the privacy implications.

I would like to find a way to reconcile these two requirements - and I think it’s possible to do so by allowing subscribers to easily and transparently opt-out of being tracked.
My current idea is to add a `do_not_track` field to subscriber profiles. When it’s activated, opens and clicks w

[2022-02-02 13:11] lucasoreis commented on #107
Hi @wmnnd! Me and @gbottari are thinking on work on this issue, is it okay for you?

Thank you!

[2022-02-02 13:12] panoramix360 commented on #107
Me and @gbottari are thinking on work on this issue, is it okay for you?

Thank you!

[2022-02-03 18:20] panoramix360 commented on #107
If you can share with us it'll be nice :D I think that will help

[2022-02-09 16:11] wmnnd commented on #107
Do you already have an idea how you want to implement the configuration of the rate-limits? Because a single sender might be subject to multiple limits (e.g. max 10 messages/second and max 100 messages/hour - or something like that).

[2022-02-09 17:27] gbottari commented on #107
I looked into ExRated. It seems like you can simply create a bucket for each sender using different message rates. However, controlling Oban's rate seems more involved because we need to do it in a way that won't trigger retries and timeouts. Do you have any thoughts on that?

[2022-02-09 23:05] wmnnd commented on #107
Yes, I think using ex_rated is a good idea.
We should probably add something like this to the Oban worker (just nicer, obviously :laughing:):

[code]

I suppose we could ideally also calculate for how many seconds the job needs to be snoozed.

[2022-02-10 14:36] wmnnd opened #110 "Allow download of contact list as CSV"
The Contacts page should allow downloading contacts as CSV.
The CSV file should be formatted to be compatible with CSV import files.

The same download feature should also be available from the segment editor.

In order to allow also large contact lists to be downloaded, `Keila.Contacts.stream_project_contacts/2` should be used
with `Plug.Conn.send_chunked/2` and `Plug.Conn.chunk/2`.

[2022-02-10 14:37] wmnnd opened #111 "Allow use of Liquid templating in campaign subjects"
Users might want to personalize subject lines (i.e. "Good News for You, {{ contact.first_name }}", so using Liquid should be possible.

[2022-02-17 00:04] wmnnd opened #112 "Add account suspension"
There should be a way to manually suspend an account from the admin page. Suspended accounts should not be able to send out campaigns and campaigns that are in the process of being sent should be stopped.

Account should automatically be suspended if the complaint rate for a campaign reaches 0.1% or the bounce rate reaches 5%.

[2022-02-17 22:25] wmnnd opened #113 "Fix embedded form markup"
Currently, the embedded form markup generated in the form editor has two bugs:
- [x] The form `action` path is to a relative URL only
- [x] The form tag is missing the `method` attribute

[2022-02-17 22:26] wmnnd opened #114 "Add option to generate embedded form markup without styles"
There should be a checkbox in the form generator for generating form markup without styles.

In a later iteration, this could be expanded to let users choose between the following options:
- no styles
- with tailwind styles
- with inline styles only

[2022-02-21 20:54] wmnnd commented on #103
This feature has now been implemented via #104 :partying_face:

@dpraul I’m looking forward to hearing from you what you think.

[2022-02-21 20:54] #103 closed

[2022-02-21 21:07] wmnnd commented on #113
Fixed with commit f10229eeba3fac2880e423814396d682b3cf26a5.
`method` attribute was already present before.

[2022-02-21 21:07] #113 closed

[2022-02-22 11:21] wmnnd commented on #95
This was implemented in #99 and is now part of the 0.9.0 release :partying_face:

[2022-02-22 11:21] #95 closed

[2022-02-22 11:21] #75 closed

[2022-02-22 12:53] wmnnd opened #115 "Add external ID field to contacts"
Contacts should have an `external_id` field to allow synchronization with outside databases.

- [x] The `external_id` field should allow for 36 characters (string representation of a UUID) to allow for all reasonable use-cases.
- [x] - [ ] `external_id` needs to have a unique constraint (`[:external_id, :project_id]`)
- [x] The `external_id` field should be used for CSV imports to detect existing

[2022-02-22 12:56] wmnnd opened #116 "Add feature to pull in campaign data"
Allow the configuration of an external API that provides campaign data for a campaign.
When a campaign that has been configured to use an external API is sent, Keila should request external data for each contact from that API.

It should provide the following features:

- [ ] Define an external API endpoint
- [ ] Define API parameters (e.g. `contact.email` or `contact.external_id` - see #115)
- [

[2022-02-23 20:12] wmnnd opened #117 "Fix style glitch in campaign settings"
If the sender name is particularly long, this breaks the layout of the campaign settings modal.

[2022-02-27 10:41] ExplorerKut commented on #117
hello @wmnnd by layout breaking do you mean something like this.
![image](https://user-images.githubusercontent.com/53145662/155879088-128b4f71-fe28-432c-9e42-48b7bf64fe86.png)

[2022-02-28 04:25] wmnnd commented on #117
@ExplorerKut Oh wow, that actually looks kind of neat :joy:

What I meant is that the campaign settings modal where you can’t see the buttons anymore if the Sender name + email is too long. I think this could be easily fixed by applying `w-full` to the `select` element:
![Screenshot 2022-02-28 at 05-23-10 Open Source Newsletter Tool · Keila](https://user-images.githubusercontent.com/7488303/155923

[2022-02-28 10:47] ExplorerKut commented on #117
Hey, created a Pull Request for the above issue, I am a beginner so don't know much about how to create a good PR but tried my best.
https://github.com/pentacent/keila/pull/118/commits/6247b25dc718f88c7fdaa00c11f8c7c13fbba103

[2022-02-28 12:46] ExplorerKut commented on #117
Updated the PR.
https://github.com/pentacent/keila/pull/118/commits/84745e4792c76641aa04d0a525e7f6a6167c30cf

[2022-02-28 12:47] ExplorerKut commented on #117
Will look through other issues as well, see if I can help.

[2022-02-28 12:55] #117 closed

[2022-04-07 07:00] JDPDO opened #119 "Using html elements causing session breakdown"
## What happens?

Using the specific character causing first some kind of session (dead-/live-)lock, then storage of corrupted entity, followed by internal server error (500). (_From future_: HTML enclosures are affected too.)

## How to reproduce

1. Create a new template, and name it as you want.
2. Type the sign ` (U+0060, grave accent) in signature field.
3. Things getting weird :confused:, le

[2022-04-07 14:31] wmnnd commented on #119
Thank you for reporting this issue. I haven’t been able to confirm it yet but I will take a closer look later.

Are you interested in helping create a fix for it?

[2022-04-07 17:16] JDPDO commented on #119
Yes, but I started elixir programming only several weeks ago.

[2022-04-08 18:04] JDPDO commented on #119
I've done some investigation. My foundings:

The error is caused by [earmark's parser](https://hexdocs.pm/earmark_parser/EarmarkParser.html) trying to parse an unfinished [_Gruber Markdown Text_](https://daringfireball.net/projects/markdown/syntax#backslash). The grave accent (\`) encloses for code formatting. For example complet copy <code>\`this works\`</code> and paste. No errors will occur.

W

[2022-04-08 18:22] JDPDO commented on #119
The error goes further than assumed: **All HTML element enclosures trigger an invalid template** the moment only one element added.

Try adding `<div>, <p>, ...` triggers the bug.

[2022-04-08 18:33] JDPDO commented on #119
What is if we are adding a function closing all open enclosures before passing text to earmarks parser?

[2022-04-08 18:51] JDPDO commented on #119
Investigating deeper:  Not using the rich text editor in campaigns edition triggers the bug too.

[2022-04-08 19:02] JDPDO opened #122 "Markdown for form editor"
The currently available fields for form creation should accept Markdown as the rest of the applications frontend.

[2022-04-10 06:42] JDPDO opened #123 "No signature applied to text only campaigns"
No signature or the unsubscribe-link are send if the campaigns format is _Text only_. The chosen template is ignored.

[2022-04-11 06:15] JDPDO opened #124 "Possible to duplicate `Template` field in _New Campaign_ view"
## What happens?

It is possible to duplicate the template selector in _New Campaign_ view

## How to reproduce

1. Select _New Campaign_ in sidebar
![grafik](https://user-images.githubusercontent.com/11973633/162675504-374a721a-7721-4f97-a297-46a4cc7a1505.png)
2. Change _Campaign Type_ selector to `Text only`
3. Change it back

Now there are two fields. The last of them is saved to database.

[2022-04-11 16:46] wmnnd commented on #124
Thanks for reporting this bug! I’ll take a look asap and deploy a fix for it.

[2022-04-11 16:48] wmnnd commented on #123
Thanks for pointing this out! I’m not quite sure how to best address signatures in the context of plain-text campaigns. Do you have a suggestion for this?

[2022-04-11 17:56] JDPDO commented on #123
I thought about that too. My idea would be to mimic the behaviour of _default.html.liquid_ in [the email templates folder](https://github.com/pentacent/keila/tree/1d5b5309f45e0485bba40050d5dd912e7296468d/priv/email_templates). So there would be an _default.txt.liquid_ with `{{main_content}}` and `{{signature_content}}` somewhere.

I'll try to address this in my proposal #125.

[2022-04-17 08:50] JDPDO opened #126 "`Keila.Mailings.Campaign` struct has obsolete field: `html_body`"
If I see correctly the field `html_body` of campaign is never used.

[2022-04-17 08:56] JDPDO commented on #126
Wouldn't it be better if the fields `html_body` and `text_body` are merged. Maybe just `body`? The type of body would be clearly identifiable thanks to `campaign.settings` (`Keila.Mailings.Campaign.Settings`).

[2022-04-20 10:36] wmnnd commented on #126
It isn’t so much that the field is obsolete, it’s more that it’s not used *yet*. The original idea behind having both fields would be that there could be campaign types that allow users to change the HTML body and text body independently. E.g. if we introduce a HTML block editor, users still might want to modify the plain text version of their emails.

[2022-04-20 10:36] #126 closed

[2022-04-25 18:12] panoramix360 commented on #107
@wmnnd this week I'll try to contribute to this issue!

Sorry for my absence in updating here :(

I'll try to tackle this one.

[2022-05-09 12:41] wmnnd opened #127 "Migrate email fields (for users and contacts) to CITEXT"
Email fields for users and contacts should be migrated from `:string` to `:citext`.

Citext is a case-insensitive text field which helps avoid issues with users typing their email addresses with different capitalizations but still retains them as they’ve inputted them.

Technically, this might be against the SMTP specs but practically, email addresses are never case-sensitive.

[2022-05-11 14:39] wmnnd commented on #38
This is how the first version of this feature will be implemented:

- Local storage only
- Support for resizing via imagemagick
- No cid or base64 support for the first version

[2022-05-12 14:32] #124 closed

[2022-05-12 14:32] wmnnd commented on #124
Thanks for your bug report, @JDPDO! The fix has now been merged into main :partying_face:

[2022-05-18 18:16] panoramix360 commented on #107
Hi @wmnn :)

Me and @gbottari added a simple implementation using ExRated.

For now, we are only considering minutes and created a new property in the sender called `field :rate_limit_minutes, :integer`.

I'm currently thinking of creating another one to represent seconds and let the user configure this on creating/updating a sender

We created a `check_rate` method on Sender as well:
[code]

This

[2022-05-27 10:28] wmnnd commented on #107
Hey @panoramix360, sorry for the late reply, that sounds great! Mabye for added clarity, it might be nice to call the field `rate_limit_per_minute`.

Adding additional fields for the rate limit per second and per hour will probably cover almost all cases :-) What do you think?

[2022-05-27 17:01] devaayushraj opened #130 "Single Docker Install Command"
I feel you need to make a shell command to install the docker up and running with the database
Something like Listmonk.

<img width="363" alt="image" src="https://user-images.githubusercontent.com/84487608/170746375-2c0b027b-9c4b-4517-98ab-9a8d3715a8a4.png">

[2022-05-27 17:10] devaayushraj opened #131 "Catered for Content Creators"
As a content creator we give free email courses in the beginning of the sign up. Where the subscriber gets a series of mail at certain interval.

**A drip campaign option is a must.**

Subscribers getting a confirmation mail is missing.

We don't need fancy options.
Give us

1. Drip Campaign
2. Subscriber Confirmation Mailing
3. Newsletter Manager(Already there I guess)

With these feature alone y

[2022-05-27 19:49] wmnnd opened #132 "Implement Email Automations"
Keila should allow the creation of email automations and drip/style campaigns.

This requires two main components:
- Triggers: An entity that defines when an automation (or a part of an automation) should be executed. Triggers may include things like "contact has subscribed", "contact has clicked on an email link", or "contact has subscribed 14 days ago".
- Automated campaigns. Automated campaigns

[2022-05-27 19:50] wmnnd commented on #131
Hey there, thank you for your suggestion!

Email automations are definitely planned for Keila! In fact, they’re already listed on the roadmap on keila.io, but I just noticed that there wasn’t yet a ticket here on GitHub. I’ve now opened a new ticket here: #132

[2022-05-27 19:50] #131 closed

[2022-05-27 19:55] wmnnd commented on #130
Thank you for this suggestion.

If you would like to try Keila, you can give it a try at https://app.keila.io/auth/register.

Piping curl into bash is not really a great pattern, so we won’t be adding that as part of our instructions at this point.
I think the installations instructions are already pretty straightforward – but if you feel that something is unclear, please feel free to reopen this

[2022-05-27 19:55] #130 closed

[2022-05-27 20:05] panoramix360 commented on #107
Yeah, that would be good :D

I'll develop this and make a PR \o

[2022-06-07 16:07] panoramix360 commented on #107
Hi @wmnnd!

I created these new fields on Sender Form, can you see if that's what you imagined it?
![Screenshot from 2022-06-07 13-03-55](https://user-images.githubusercontent.com/2154092/172428397-1ca29146-5291-4869-8137-945acd5b1db0.png)

I created the migrations and fields on Ecto. I put the default values like these:
![Screenshot from 2022-06-07 13-05-14](https://user-images.githubusercontent.

[2022-06-07 19:09] panoramix360 commented on #107
After doing some tests, I think it's obvious that 1 request per second is not something real.

Which default values do you think that we could put?

Maybe something like that:
`rate_limit_per_hour = 10_000`
`rate_limit_per_minute = 1_000`
`rate_limit_per_second = 500`

[2022-06-16 18:31] matteoraggi opened #133 "How to send Certified email with kelia?"
How to send Certified email with kelia?
Here what the Certified emails are:
https://en.wikipedia.org/wiki/Certified_email

[2022-06-21 16:07] dpraul opened #134 "Allow sending of campaigns with custom HTML body from API"
Hello! Are there any plans to allow HTML campaigns? I love the simplicity of Markdown, but it is too restrictive for our use-case.

Particularly, we want to use external automations to send HTML campaigns with the API - we would not need a web editor for our use-case.

[2022-06-27 11:53] wmnnd commented on #134
Hey there,

thanks for reaching out! I think this is a very good suggestion indeed.

Adding the ability to send HTML emails via the API would be quite straightforward to implement.

This is what needs to happen:
- Add `html` type to the Campaign settings and Campaign API
- Add logic to send out custom HTML from `html_body` in `html` type campaigns
- Optional: Add logic to extract plain text if pla

[2022-06-27 12:03] wmnnd opened #135 "Allow custom data in forms"
Forms should allow users to configure custom data fields (ideally with validation) to add custom data to new contacts.

The types of fields should include:
- text
- date
- number
- boolean

The validations should include:
- minimum/maximum length
- inclusion in list

It should be possible to mark fields as optional/mandatory and visible/hidden.

[2022-06-27 13:12] wmnnd commented on #107
@panoramix360 Do you think we should have a default rate limit at the database level? I think my personal tendency would be to not set it at the DB level and add it at the UI or application level. But I don’t think it’s necessary to have a default at all for the first version.

[2022-07-01 22:33] panoramix360 commented on #107
@wmnnd Yeah, I agree with you.

I'll remove the default limit from the database and from the UI :)

But if the user doesn't fill the rate limit field then it will have no limit, correct?

I'll update the code and overall I think it's ready for a PR.

[2022-07-02 10:14] bryanthen opened #136 "Nil root@localhost"
Hello everyone,

I deployed Keila (both Keila web and Database) on docker. Configured KEILA_USER and KEILA_PASSWORD on the environment, but it's giving me UI error:

"PASSWORD is incorrect". Although the password is extremely basic, with "randompassword" as string.

Also, tried to find the root@localhost user and password was a tough journey since it was deployed via Portainer Docker Compose witho

[2022-07-03 13:41] wmnnd commented on #107
@panoramix360 Awesome! Yes, I think we’ll be good without a default limit :-)

[2022-07-03 13:48] wmnnd commented on #136
Did you configure both `KEILA_USER` and `KEILA_PASSWORD` before you first started Keila? Because in case you specified just `KEILA_USER` it would have created a user with your specified email but still set up a random password.

You can also try to get a list of all users: `Keila.Auth.list_users() |> Enum.map(& &1.email)`

[2022-07-04 07:22] bryanthen commented on #136
Hi @wmnnd , the result of the list_users() is returning [ ], an empty string. I have inserted KEILA_USER and KEILA_PASSWORD on the docker-compose.yml prior to deployment. Technically it should be made available to the application.

[2022-07-04 07:34] bryanthen commented on #136
I think i resolved the problem, finally! What I did was to set a HOME environment variable and redeploy the stack again. Thanks @wmnnd  for the command to ensure that I know what I'm doing.

[2022-07-04 07:34] #136 closed

[2022-07-05 13:54] panoramix360 commented on #107
Created the PR #137 for this issue

[2022-07-05 15:05] wmnnd commented on #136
Excellent, glad to hear you managed to sort this out! :+1:

[2022-07-17 07:49] wmnnd opened #138 "Upgrade to Oban 2.12"
This upgrade requires a migration, see https://hexdocs.pm/oban/v2-11.html

The new `Oban.Plugins.Reindexer` plugin was introduced as the result of a bug report from running Keila in production and should be enabled: https://github.com/sorentwo/oban/issues/612

[2022-07-17 16:05] MagicFab opened #140 "Tie forms to projects/segments, perhaps using a hidden field"
I would be useful to tie forms to specific projects and/or segments.

When a new user subscribes, this would make it possible to have them added automatically to a segment or project for immediate use in campaigns.

This could be implemented using a hidden field in the form.

[2022-07-17 16:07] MagicFab commented on #83
A hidden field could be used to tie forms to projects/segments.

I've opened a request for this here; https://github.com/pentacent/keila/issues/140

[2022-07-19 09:45] wmnnd commented on #140
Thank you for your suggestion @MagicFab! We currently have an open issue at #135 which will allow forms to add custom data to new contacts. The proposal also includes the inclusion of hidden fields, so that should work for the use-case you’re suggesting here as well!

[2022-07-19 09:45] #140 closed

[2022-07-24 22:07] MagicFab opened #141 "Feature request : implement double opt-in"
I'd like to suggest a default feature found in other similar software : an option to request a new email subscriber to confirm their email is valid by clicking on a link sent in the first confirmation email after subscription. This is commonly known as double opt-in.
This improves a lot the quality of email subscribers by minimizing typing mistakes while also reducing SPAM, specially when not usin

[2022-07-25 10:46] wmnnd commented on #141
Thanks for creating this issue. You’re right, double-opt is an absolute must and I’ll add it to the roadmap.

I wonder whether this is best done via configuring the form (i.e. you set the form to double-opt-in and then also configure the message you’d like to send) - or if this should be part of the automation feature #132.

Happy to hear everyone’s thoughts!

[2022-08-03 15:21] victorbjorklund commented on #141
Agreed. This is a must have. Also would be nice to have access to it when adding with the api (if you use your own form instead of the form in keila).

[2022-08-28 06:02] ja2ui0 opened #142 "Misconfigured sender leads to undefined behavior and broken stats"
When Keila has a bad URL (ie: smtp.google.org instead of .com) and I try to send a campaign it hangs on "This campaign is currently being sent out. 0/1" forever and there's nothing showing up in the logs. Also, the campaign cannot be canceled.

[2022-08-28 19:57] wmnnd commented on #142
Thanks for reporting this issue. You’re right, if the sender is misconfigured a campaign can currently enter an undefined state.

My recommendation if you’re currently stuck with this would be to clone the campaign and try again with a working sender.

[2022-09-05 10:43] wmnnd commented on #107
Implemented in #137.

[2022-09-05 10:43] #107 closed

[2022-09-06 09:35] wmnnd commented on #138
This is implemented in #139.

[2022-09-06 18:33] TwistingTwists opened #146 "RSS to Keila Campaign"
What does the aim of this Issue?
1. To Explain the use case in detail
2. add a supporting PR , if need be

#### Explain use case
1. User goes to blog A, wants to subscribe to rss feed of the blog via **email**
2. If blog A is not hosted via substack, it is not supported out of the box. e.g. Blogspot (ever since feedburner was phased out in 2021)
3. just like substack, there is a HTML widget where

[2022-09-07 14:41] wmnnd opened #147 "Add read-only API endpoints for better automation integrations"
In order to enable the creation of integrations with tools like Zapier or n8n, we should add a few more read-only API endpoints:

- `/project` - Return the project name (and associated account?)
-  `/senders` - Return IDs, types, and names of senders (not credentials!)

[2022-09-13 12:18] aqua-institut opened #148 "Add environment variable to disable hCaptcha"
Hi,

for internal/selfhosted use it would be great to have a environment flag to disable hCaptcha completely (or just disable it if SECRET and SITE_KEY are not set).

Best,
Moritz

[2022-09-13 12:52] throny opened #149 "URL_PORT default seems to be wrong or documentation misleading"
Hi,

according to the official docs the `URL_PORT` should be `80` if `URL_SCHEMA` is set to `http` (which is the default value)
That seems to be not the case if the `PORT` is on `4000` as the mail confirmation for registration appends `:4000` to the URL.

Right now it's required to set the URL_PORT to 80 manually.

Best,
Moritz

[2022-09-14 08:38] wmnnd opened #150 "Allow users to opt out from tracking"
The Contact schema should be extended with a `do_not_track` boolean field. When it is set, URL redirects for click/open tracking are disabled.

- [ ] Add `do_not_track` field
- [ ] Disable link tracking for contacts with `do_not_track` enabled
- [ ] ? Enable logging for `do_not_track` opt-in/opt-out
- [ ] Add checkbox to form for tracking opt-in/opt-out - automatically set checkbox based on DNT he

[2022-09-14 08:40] wmnnd opened #151 "Allow tracking to be disabled"
It should be possible to disable tracking on a per-project and per-campaign basis. The project setting should be used as a default for new campaigns.

- [ ] Add setting to project settings
- [x] Add setting to campaign settings
- [x] Don't use link tracking when sending emails in non-tracked campaigns
- [x] Update campaign stats page to show that tracking was disabled

[2022-09-14 08:46] wmnnd commented on #149
Thanks for pointing this out; are you referring to the log message you get when starting Keila?
That message seems to be indeed incorrect because `URL_PORT` doesn’t default to 80.

[2022-09-14 08:46] wmnnd commented on #148
Thank you for your suggestion! Would you like to try and create a PR for this issue?

[2022-09-14 09:03] aqua-institut commented on #149
Hi,
nope, I meant the generated link in the activation mail when running with the defaults (host port 80 to internal 4000, leaving `URL_SCHEMA` and `URL_PORT` unset)

[2022-09-14 09:05] aqua-institut commented on #148
Unfortunately I don't have that deep understanding of Elixir to do it right away. Might check on it in the coming weeks :)

[2022-09-16 10:38] wmnnd opened #153 "Add Phoenix.LiveView.HTMLFormatter"
We should enable the Phoenix HTMLFormatter to ensure consistent formatting in heex templates.
https://hexdocs.pm/phoenix_live_view/Phoenix.LiveView.HTMLFormatter.html

[2022-09-18 13:33] wmnnd opened #155 "Add style settings for text alignment in template signature"
It should be possible to change the alignment of the content of the signature block from center (default) to left or right.

[2022-09-22 18:38] ja2ui0 opened #156 "Add Shared Projects"
Unless I'm missing something, projects are specific to the user. Therefore, multiple users managing a project would have to share a login to access the same contacts / segments / campaigns.

It would be useful for multiple users with their own credentials to be able to manage projects collaboratively.

[2022-09-23 13:42] wmnnd commented on #156
Keila is already set up to allow this; projects are tied to an entity called "account" and not the user entity. We’re just missing a UI  to manage the shared access to a project.

@ja2ui0: Would you be willing to help with this issue?

[2022-09-27 03:24] ja2ui0 commented on #156
@wmnnd: I'm not unwilling, it will take me time I don't have at the moment considering other commitments. I'm not a coder or a UI / UX designer, but when things settle down a little bit in a couple of weeks I might be able to have a look.

[2022-10-01 07:43] wmnnd commented on #155
Sure! In the styles section, we should add another option under "Signature": Text alignment - where users should be able to choose between left, right, center, and justified alignment. And then that settings should be applied to the signature.

[2022-10-02 14:38] wmnnd opened #157 "Fix line height for header styles"
Right now, if a headline (h1) consists of more than one page, the line-height isn't sufficient and text overlaps.
![Screenshot 2022-10-02 at 16-37-45 Open Source Newsletter Tool · Keila](https://user-images.githubusercontent.com/7488303/193459832-bbe5d220-967a-4c49-ac8f-45cfad5f7f7e.png)

[2022-10-02 14:42] wmnnd opened #158 "Add vertical separator"
It should be possible to insert a horizontal rule (`<hr>` or `---` in Markdown) in the WYSIWYG editor. It should be styled in such a way that there is either only a very light line (maybe using `opacity`) or no line at all.

[2022-10-02 15:05] wmnnd opened #159 "Fix broken links when using Liquid as href attribute in WYSIWYG editor"
Currently, the WYSIWYG editor allows using Liquid tags for the target URL of links. However, after saving and reloading, the editor displays the liquid markup next to the raw Markdown instead.
![Screenshot 2022-10-02 at 17-04-17 Open Source Newsletter Tool · Keila](https://user-images.githubusercontent.com/7488303/193461131-69eb3ecf-67eb-4bcd-a7a1-cf9a375e9648.png)

[2022-10-02 20:43] wmnnd commented on #111
Implemented in #144.

[2022-10-02 20:43] #111 closed

[2022-10-02 20:43] wmnnd commented on #127
Implemented in #143.

[2022-10-02 20:43] #127 closed

[2022-10-02 20:44] wmnnd commented on #48
Implemented in #145.

[2022-10-02 20:44] #48 closed

[2022-10-02 20:44] wmnnd commented on #38
Implemented in #139.

[2022-10-02 20:44] #38 closed

[2022-10-02 20:46] wmnnd commented on #151
Implemented in #152.

[2022-10-02 20:46] #151 closed

[2022-10-02 20:46] wmnnd commented on #151
Implemented in #152.

[2022-10-06 20:33] #157 closed

[2022-10-10 18:20] black-fake commented on #149
Hi,

same "problem" here with https schema.

After manually setting **URL_PORT** to **443** the creation of links for the subscription form works well but before that there was automatically appended the port **4000** to the URL.

Seems to be the default value, no matter, if **URL_SCHEMA** is set or not

[2022-10-23 06:41] wmnnd commented on #159
This was fixed in b5aa616dbf60c7de8e828d32f6e202e2a607ed57.

[2022-10-23 06:41] #159 closed

[2022-10-23 09:47] wmnnd commented on #148
I will close this for now; if hCaptcha is not configured, it will not have any breaking negative consequences – after all, there’s merely a warning which might actually be desireable.

[2022-10-23 09:47] #148 closed

[2022-10-23 09:48] #138 closed

[2022-10-23 09:55] wmnnd commented on #158
Implemented in be58014.

[2022-10-23 09:55] #158 closed

[2022-10-23 09:57] wmnnd commented on #72
Since there was no further feedback on this issue, I’ll close it for now. Please feel free to re-open specific issues if you believe they’re still important.

[2022-10-23 09:57] #72 closed

[2022-10-23 09:58] wmnnd commented on #155
Implemented in 8e8ba55e44a3c153aa7a85d151c7ba17125087f6.

[2022-10-23 09:58] #155 closed

[2022-10-23 10:12] wmnnd commented on #149
Thanks for your feedback! I’ve slightly updated the configuration behavior and the relevant documentation:
- If `URL_SCHEMA` is set, `URL_PORT` will default to `443` (i.e. no port is appended)
- If `URL_SCHEMA` is not set, `URL_PORT` defaults to the value of `PORT` which in turn defaults to `4000`.

-> https://www.keila.io/docs/configuration

[2022-10-23 10:12] #149 closed

[2022-10-23 14:46] panoramix360 commented on #155
@wmnnd sorry for not delivering this earlier, I'm still with little time outside work 😢

I'll look into the issues to try to fix one, it's been a while that I didn't use Elixir 😭

[2022-10-26 22:51] TheBoatyMcBoatFace opened #161 "Edit HTML of emails"
The WYSIWYG is great, but we would like to edit the core HTML of the messages. The ability to view & edit the raw HTML in the campaign builder would be a huge benefit.

[2022-10-29 06:19] nsakibp opened #162 "The campaign editor is not loading"
The campaign editor is not loading for Markdown or, Text only both options.

Here is the screenshot:
https://paste.pics/JGQEM

[2022-10-29 06:49] wmnnd commented on #162
Could you share the output from both the Elixir console and the browser JS console?

[2022-10-29 06:52] wmnnd commented on #161
The current WYSIWYG editor is based on Markdown, so it’s not possible to edit the HTML because it’s automatically generated from the Markdown markup. I am planning to include HTML campaigns in a future version, though.

[2022-10-29 06:52] #161 closed

[2022-10-29 06:58] nsakibp commented on #162
I don't know Elixir
I used docker to install Keila

Here is the browser console output:
https://paste.pics/JGRA0

[2022-10-30 08:09] wmnnd commented on #162
It looks like there is something wrong with your server (or remote proxy) configuration and the websocket connection is failing.

[2022-10-30 08:09] #162 closed

[2022-11-14 01:04] panoramix360 commented on #153
I was planning on doing this one, but I noticed that the HTMLFormatter has a limitation in using Elixir >v13.4

![image](https://user-images.githubusercontent.com/2154092/201555049-f9823a1c-2748-42b0-9990-280330469e91.png)

Do you plan to update Elixir on the project?

[2022-11-14 01:18] panoramix360 commented on #55
@wmnnd did you already manage to do that?

I'll have more time available for the next weeks and I'm thinking of getting this one.

And another thing, I'm not being able to edit campaigns, this error appears, maybe there is a new configuration that I need to do on Dev Container:
![image](https://user-images.githubusercontent.com/2154092/201556176-a066f605-7fdb-4945-9197-c1dd204b46ca.png)

[2022-11-22 10:25] waveywaves opened #163 "Pull Request Preview Environments for increasing maintainer productivity"
I would like to make life easier for Keila maintainers by implementing [Uffizzi](https://github.com/UffizziCloud/uffizzi) preview environments.
Disclaimer: I work on [Uffizzi](https://github.com/UffizziCloud/uffizzi).

Uffizzi is a Open Source full stack previews engine and our platform is available completely free for Keila (and all open source projects). This will provide maintainers with previe

[2022-11-22 11:28] wmnnd commented on #55
@panoramix360 Nope, I haven’t been able to investigate this issue any further. If you’d like to give it a shot, that’d be great!

The error probably comes because the KeilaWeb.IconHelper module wasn’t recompiled after I added the `horizontal_rule` icon. If you make any modification to the module, save, then revert the change, the compiler should notice and it should work again.

[2022-11-22 11:29] wmnnd commented on #153
Yes, we should definitely upgrade to Elixir 1.14. Would you like to prepare a PR for that?

[2022-11-22 17:55] panoramix360 commented on #55
@wmnnd sounds great!

I already implemented and will write some tests to open the PR :D

[2022-11-22 17:56] panoramix360 commented on #153
yep, I can upgrade it 🤓

[2022-11-25 04:08] kadekjayak opened #165 "How to Restart sending campaign?"
Hello

So, yesterday I've scheduled a sending campaign,
but the sending is stuck at 90%, it's not sending to the remaining 19 contacts.

I've try to restart Keila, but it's still not continue the sending.

my question is:
is there a way to send the emails to the remaining 19 contacts?
or maybe a command line to force sending the campaign to the recipients?

Thanks.

[2022-11-25 09:52] wmnnd commented on #165
Hey, there is currently no way to re-try sending a campaign. Could you share your logs so I can see what the issue might have been?

[2022-11-27 10:04] TOH2F opened #166 "Error with docker"
I configured a password in the docker compose file but when connecting the application it does not work

KEILA_USER : "root2@localhost"
KEILA_PASSWORD : "123456789"

Thank you for your help

[2022-11-27 21:01] wmnnd commented on #166
Did you set these environment variables before you started Keila for the first time? Otherwise, Keila is just going to create a `root@localhost` with a random password.